<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>iGate Dev Home</title>
	<link rel="stylesheet" type="text/css" href={{url_for("static", filename = "")}}>
</head>
<body>
	<table class="iGateHome">
		<tr class="info">
			<td colspan="4">
				<h1>iGate</h1>
			</td>
		</tr>
		<tr class="info">
			<td colspan="4">
				<h3>Login</h3>
			</td>
		</tr>
		<tr class="info">
			<td>
				<!--<button onclick="google.com"> Login </button>-->
				<a href = {{url_for("login")}} > Login </a>
			</td>
		</tr>
	</table>
	

</body>
</html>